.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: white;
  background-color: rgb(57, 57, 57);
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li {
color: white;
}
